<!-- String Interpolation -->
<h1 [class.text-red]="bool">{{ message }}</h1>

<p [style.color] = "bool ? 'red' : 'blue' ">Style binding Practise</p>

<!-- Event Binding -->

<button (click) = "buttonClick()">Click Me</button>
<br>

<!-- Event Filtering -->
<!-- <input type="text" (keyup.enter) = "onKeyUP(username.value)" #username><br> -->

<input type="text" [(ngModel)] = "userName" (keyup.enter) = "onKeyUP()">
<p>User Name is {{userName}}</p>

<br>
<h1>One way and two way databinding</h1>
<input type="text" [value]="textValue" (keyup.enter) = "onKeyUP()">
<br>
<h2>Two way data binding</h2>
<input type="text" [(ngModel)]="textValue" (keyup.enter) = "onKeyUP()">

<!-- <img src="{{imgUrl}}" alt=""> -->
<!-- Property Binding -->
<!--<img [src]="imgUrl" alt=""> -->

<!-- Template variable -->